


<link href="/../css/style.css" rel="stylesheet">
<div id="mySidenav" class="sidenav" style="width: 8%;" >
	<img  src="../images/bank-logo-light.png"  class="imageclass" >
		<a  class="navBar" href="/users"  style="padding-left:10%;"> Users</a>
	<a  class="navBar" href="/logout" style="padding-left:10%;">  Logout</a>
</div>

<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
<!--
			<a href="/">Home</a> |
		<a href="/logout">Logout</a> |
			<a href="/users">All Users List</a>
		</div>	
		<h1><%= title %></h1>
-->
